---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
---

<Layout  title="Kerala Startup Mission">
	

 <!--   
Hero Area
==============================-->
<!-- <main class="py-24 min-h-screen flex flex-col items-center justify-center" >
	<div class="absolute -z-10 w-full h-full top-0 left-0 bg-[#111235] bg-opacity-90"></div>
  <div class="absolute -z-20  bg-cover bg-no-repeat w-full h-full top-0 left-0" style="background-image:url('/rinkspire/img/33.jpg')"></div>  

	<div class="container mx-auto text-white px-4">
		<div class=" pb-10">
			<h1 class="  outline-8  uppercase sm:text-9xl text-5xl font-extrabold  opacity-5 text-white tracking-widest">Spire</h1>
			<h1 class="  outline-8  uppercase text-3xl font-extrabold text-blue-900 tracking-widest">Spire</h1>
			
			<h1 class=" text-7xl font-bold text-white">Startup<br> Pre-Incubation<br> Program for Researchers</h1>
		
		</div>
		<a href="service.html" class="th-btn style2">Apply Now<i class="fas fa-arrow-right ms-2"></i></a>
		
	</div>
	
</main> -->


<main class="py-24 min-h-screen flex flex-col items-center justify-center" >
	<div class="absolute -z-10 w-full h-full top-0 left-0 bg-[#111235] bg-opacity-90"></div>
  <div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 left-0" style="background-image:url('/rinkspire/img/33.jpg')"></div>  

  <div class="container mx-auto text-white px-4">
	<div class=" pb-10">
		<h1 class="   uppercase sm:text-9xl text-7xl font-extrabold  opacity-5 text-white tracking-widest">Spire</h1>
		<h1 class="   uppercase text-3xl font-extrabold text-blue-900 tracking-widest">Spire</h1>
		
		<h1 class=" md:text-7xl text-5xl  font-bold text-white">Startup<br> Pre-Incubation<br> Program for Researchers</h1>
	
	</div>
	<a href="" class="th-btn style2">Apply Now<i class="fas fa-arrow-right ms-2"></i></a>
	
</div>
	
</main>


<!--======== / Hero Section ========-->
<!--==============================
Servce Area  
==============================-->

<!--==============================
About Area  
==============================-->
<div class="overflow-hidden pt-24">
	<div class="container">
		<div class="grid md:grid-cols-2 grid-cols-1 gap-4 align-items-center justify-content-between">
			<div class=" flex  items-center justify-center text-center">
				<div class="about-thumb5">
					<div class="img1">
						<img class="tilt-active" src="/rinkspire/img/about.png" alt="About">
					</div>
				</div>
			</div>
			<div class="">
				<div class="title-area mb-30">
					<span class="sub-title">
						SPIRE
					</span>
					<h2 class="sec-title"></h2>
				</div>
				<p class="mt-n1 mb-30">The “SPIRE” of Kerala Startup Mission (KSUM) is a programme aimed to identify promising researchers who are aspiring to be startup founders. Through this programme, funding, mentorship, incubation, and other support will be provided to commercialize the research outcomes and start new startup ventures in the state. </p>
				<div class="row justify-content-between">
					
					<div class=" flex flex-row gap-4">
						<a href="" target="_blank" class="th-btn">View Guidelines<i class="fas fa-arrow-right ms-2"></i></a>
					
						<a href="" target="_blank" class="th-btn">Apply Now<i class="fas fa-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==============================
Process Area  
==============================-->

<section class=" space overflow-hidden py-24  container" data-bg-src="assets/img/shape/process-bg-shape.png">
	<div class="title-area text-center">
		<!-- <span class="sub-title">
			TIMELINE OF THE PROGRAM
		</span> -->
		<div>
			<h1 class=" text-2xl  font-bold text-[#140f2c]">TIMELINE OF THE PROGRAM</h1>
		</div>
		
	</div>
	<div class="process-wrapper">
		
		<div class="process-line absolute ">
			<img src="assets/img/shape/process-line.png" alt="img">
		</div>
		<div class="  grid lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 lg:gap-0 md:gap-6 sm:gap-8">
			
			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28 h- ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/1.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">01</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">Call for application from Researchers</h2>
					</div>
				</div>
			</div>


			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28 ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/2.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">02</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">Bootcamp for selected Researchers</h2>
					</div>
				</div>
			</div>

			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28 ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/3.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">03</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">Final Pitching</h2>
					</div>
				</div>
			</div>
			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28 ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/4.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">04</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">First Tranche upto 2 Lakhs</h2>
					</div>
				</div>
			</div>
			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28 ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/5.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">05</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">Startup Incorporation</h2>
					</div>
				</div>
			</div>
			<div class="group items-center justify-center text-center flex flex-col">
				<div class="relative  flex flex-col  h-28 w-28  ">
					<div class="  rounded-full h-full w-full  border-[1px] border-dashed border-red-700">
						<div class=" h-full w-full p-4 group-hover:p-0 duration-500 ">
							<img src="/rinkspire/img/6.svg" alt="process" class=" rounded-full duration-500 group-hover:scale-125">
						</div>
					</div>
					<div class=" absolute top-0  bg-[#0d6efd] rounded-full h-8 text-white w-8 items-center justify-center flex "><p class=" text-white text-center text-sm font-semibold items-center justify-center">06</p></div>
				</div>
				<div>
					<div class="process-box_content text-center py-6">
						<h2 class=" text-lg font-semibold">Second Tranche upto 2 Lakhs</h2>
					</div>
				</div>
			</div>
	
		</div>
	</div>
	
</section>

<section class="cta-sec7" data-bg-src="assets/img/bg/cta_bg_6.png">
	<div class="cta-thumb7 shape-mockup d-lg-block d-none" data-top="0" data-left="0"><img src="/rinkspire/img/2151152322 1.png" alt="img"></div>
	<div class="container">
		<div class="row justify-content-end align-items-center">
			<div class="col-lg-5 col-md-8">
				<div class="title-area mb-0">
					<h2 class="cta-title h3 text-white"><span class=" text-lg">Last date to apply</span><br> 29 February 2024</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mt-4 mt-md-0 text-md-end">
				<a href="contact.html" class="th-btn style3">Apply Now<i class="far fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
</section>
</Layout>
